
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
staticfiles/

anova-eb-key.pem
anova_api/configuration/production/.env
aws.xml
notes.txt
.env
x.log
*.iml
docker*.*
